.side-bar
  .side-bar__user
    .user 
      .name akito
      .icon 
        = link_to "#" do
          %i.fa.fa-edit
          //= icon("fa","edit")
          %i.fa.fa-cog

  .side-bar__message__first
    .wrapper-third
      .name-first akito
      .message-date 2019/11/20
    .message-first おはよう！
  .side-bar__message__second
    .wrapper-third
      .name-first akito
      .message-date 2019/11/20
    .message-first おはよう！          