.side-bar
  .side-bar__user     
    .user 
      .name
        =current_user.name
      .icon 
        = link_to new_group_path do
          %i.fa.fa-edit
        =link_to edit_user_path(current_user) do  
          %i.fa.fa-cog

  .side-bar__message__first
    - current_user.groups.each do |group|
      .wrapper-third
        = link_to '#' do
          .name-first
            = group.name
          .message-date 2019/11/20
        .message-first メッセージはまだありません。