* {
  box-sizing: border-box;
}

.wrapper{
  display:flex;
}

// サイドのヘッダー

.side-bar{
  width:300px;
  height:100vh;
  background-color:#2f3e51;
}

// サイドのメッセージ

.side-bar__user{
  background-color:#253141;
  height:100px;
  width:300px;
  line-height:100px;
  display: flex;
  align-items: center;
}

.name{
 color:#ffffff;
}

.side-bar__message__first{
  margin-top: 35px;
}

.wrapper-third{
  display: flex;
  margin-bottom: 12px;
  margin-left: 40px;
  color:#ffffff
}

.name-first{
 margin-right: 5px;
 font-size: 16px;
}

.message-date{
 color:#999999;
 font-size: 12px;
}

.message-first{
  color:#ffffff;
  font-size:14px;
  margin-left:40px;
}

.side-bar__message__second{
  margin-top: 46px;
}



.user{
  width:260px;
  height:20px;
  margin:0 auto;
  justify-content: space-between;
  display: flex;
}

.name{
  line-height:20px ;
}

.icon{
  line-height: 20px;
  width:60px;
  text-align: right;
  margin-left: 5px;
  display: inline-block;
  text-decoration: none;
  color:#ffffff
}

.fa.fa-edit{
  color:#ffffff;
 
}

.fa.fa-cog{
  color:#ffffff;
}


// メイン

.chat-main{
  width:calc(100vw - 300px);
  height:100vh;
  background-color:#fafafa;
  position:relative;
}

// メインのヘッダー

.chat-main__groups{
 background-color:#ffffff;
 border:solid 1px #eeeeee;
 height:100px;
}

.wrapper-second{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.wrapper-sub__second{
  padding-bottom:40px;
}

.groups-name{
  color:#333333;
  font-size: 20px;
  margin-left: 40px;
  margin-top: 35px;
}

.user-name{
  margin-left:40px;
  color:#999999;
  font-size: 12px;
  padding-top:15px;
}

.groups-edit{
  height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border: solid 1px #38aef0;
    position: absolute;
    right: 40px;
    color: #38aef0;
  }


// メインのフォーム

.chat-main__form{
 background-color:#d2d2d2;
 height:90px;
 width:calc(100vw - 300px);
 position: absolute;
 align-items: center;
 display:flex;
 bottom: 0;
}

.wrapper-fourth{
  background-color: white;
  width:calc(100% - 195px);
  height:50px;
  margin:20 15 20 40;
  display:flex;
  justify-content: space-between;
}

.input-box{
 border-style: none;
 width:825px;
 
}

.fas.fa-image.fa-lg{
  margin-right: 10px;
  line-height: 50px;
}

.select-file{
  display: none;
}

.send-btn{
  background-color: skyblue;
  height: 50px;
  width:100px;
  color: #ffffff;
}
